streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
huggingface_hub[hf_xet]
faiss-cpu
pymupdf
python-dotenv
sentence-transformers
langchain-ollama
pypdf
PyPDF2
transformers
torch
torchvision
pytesseract
pdf2image
pillow